[submodule "cloudnativepong"]
	path = cloudnativepong
	url = https://github.com/macel94/cloudnativepong.git
	branch = main
[submodule "francesco-belacca-site"]
	path = francesco-belacca-site
	url = https://github.com/macel94/francesco-belacca-site.git
	branch = main
[submodule "belacca-gitops"]
	path = belacca-gitops
	url = https://github.com/macel94/belacca-gitops.git
	branch = main
[submodule "belacca-status"]
	path = belacca-status
	url = https://github.com/macel94/belacca-status.git
[submodule "belacca-infrastructure"]
	path = belacca-infrastructure
	url = https://github.com/macel94/belacca-infrastructure.git
	branch = main
[submodule "mutandae"]
	path = mutandae
	url = https://github.com/macel94/mutandae.git
	branch = main
